.tooltip-container {
    /*position: relative; /* Required for positioning the tooltip */
    display: inline-block;
    cursor: pointer;
    
    
  }

  .tooltip-container:hover
  {
    position: relative; /* Required for positioning the tooltip */
    z-index: 9999;
    
  }

  .tooltip-container svg {
    display: block !important;
    position: inherit !important;
  }

  .tooltip-container::after {
    content: attr(data-tooltip); /* Use the text from data-tooltip */
    position: absolute;
    bottom: 125%; /* Position above the SVG */
    left: 200%;
    transform: translateX(-50%);
    background: #333; /* Modern dark background */
    color: #fff; /* White text for contrast */
    padding: 8px 12px;
    border-radius: 8px;
   
    font-size: 0.875rem; /* Slightly smaller text */
    white-space: pre-line;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0; /* Hidden by default */
    pointer-events: none; /* Prevent mouse interaction */
    transition: opacity 0.4s ease, transform 0.4s ease;
  }
  
  .tooltip-container:hover::after {
    
    opacity: 1; /* Show tooltip on hover */
    transform: translateX(-50%) translateY(-4px); /* Slight upward animation */
  }
  